exclude: '^$'
fail_fast: false
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.2.0'
  hooks:
  - id: ruff
# once https://github.com/astral-sh/ruff/issues/2402 is fully resolved then we can get rid of flake8:
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      args: [--unsafe]
- repo: https://github.com/PyCQA/bandit
  rev: '1.7.7' # Update me!
  hooks:
    - id: bandit
      args: [--ini, .bandit]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.8.0'  # Use the sha / tag you want to point at
  hooks:
    - id: mypy
      additional_dependencies:
        - types-docutils
        - types-pkg-resources
        - types-PyYAML
        - types-requests
        - type_extensions
      args: ["--python-version", "3.9", "--ignore-missing-imports"]
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      language_version: python3
ci:
  # To trigger manually, comment on a pull request with "pre-commit.ci autofix"
  autofix_prs: false
  autoupdate_schedule: "monthly"
  skip: [bandit]
