language: python
python:
- '2.6'
- '2.7'
- '3.2'
- '3.3'
- '3.4'
install:
- pip install .
- pip install coveralls
- pip install pykdtree
script: python setup.py nosetests --with-coverage --cover-package pyresample
after_success: coveralls