include docs/Makefile
recursive-include docs/source *
include pyresample/test/test_files/*
include LICENSE.txt
include pyresample/ewa/_fornav_templates.*
include pyresample/py.typed
include versioneer.py
include pyresample/version.py
include pyresample/static/html/*
include pyresample/static/css/*
include README.md
recursive-include pyresample *.pyx
